@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}

@layer base {
  :root {
    --primary: 274 100% 34%;
    --primary-foreground: 0 0% 98%;

    --accent: 270 100% 20%;
    --accent-foreground: 0 0% 98%;

    --background: 0 0% 100%;
    --foreground: 0 0% 13%; /* preto suave */

    /* Sidebar */
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 0 0% 13%;
    --sidebar-primary: 274 100% 34%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 270 100% 20%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 270 100% 92%;
    --sidebar-ring: 274 100% 34%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 0 0% 98%;

    --card-background: 0 0% 20%;
  }

  .dark {
    --background: 0 0% 13%;
    --foreground: 0 0% 98%;

    --primary: 274 100% 34%;
    --primary-foreground: 0 0% 98%;

    --accent: 270 100% 20%;
    --accent-foreground: 0 0% 98%;

    /* Sidebar */
    --sidebar-background: 0 0% 13%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 274 100% 34%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 270 100% 20%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 270 100% 30%;
    --sidebar-ring: 274 100% 34%;

    --card-background: 0 0% 75%;
  }
}

@layer components {
  .bg-primary {
    background-color: hsl(var(--primary));
  }
  .bg-primary-foreground {
    background-color: hsl(var(--primary-foreground));
  }
  .text-primary-foreground {
    color: hsl(var(--primary-foreground));
  }
  .text-accent {
    color: hsl(var(--accent));
  }
  .bg-accent {
    background-color: hsl(var(--accent));
  }
  .text-accent-foreground {
    color: hsl(var(--accent-foreground));
  }
  .bg-muted {
    background-color: hsl(var(--sidebar-border));
  }
  .text-muted {
    color: hsl(var(--sidebar-foreground));
  }
  .ring-ring {
    --tw-ring-color: hsl(var(--sidebar-ring));
  }
  .border-sidebar-border {
    border-color: hsl(var(--sidebar-border));
  }

  .text-sidebar-foreground {
    color: hsl(var(--sidebar-foreground));
  }

  .hover\:bg-sidebar-border:hover {
    background-color: hsl(var(--sidebar-border));
  }

  .hover\:text-accent-foreground:hover {
    color: hsl(var(--accent-foreground));
  }
}

@layer base {
  body {
    font-family: var(--font-sans);
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
  }
}

/* Animações */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fadeIn 0.3s ease-in-out;
}

.rdp {
  background-color: var(--rdp-background-color);
  color: var(--rdp-color);
}

/* Toast animations */
@keyframes toast-fade-out {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}

@keyframes toast-fade-in {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.toast-fade-out {
  animation: toast-fade-out 700ms ease-out forwards;
}

.toast-fade-in {
  animation: toast-fade-in 300ms ease-out forwards;
}

/* Backdrop blur animation */
@keyframes backdrop-fade-in {
  from {
    opacity: 0;
    backdrop-filter: blur(0px);
  }
  to {
    opacity: 1;
    backdrop-filter: blur(4px);
  }
}

@keyframes backdrop-fade-out {
  from {
    opacity: 1;
    backdrop-filter: blur(4px);
  }
  to {
    opacity: 0;
    backdrop-filter: blur(0px);
  }
}

.backdrop-fade-in {
  animation: backdrop-fade-in 300ms ease-out forwards;
}

.backdrop-fade-out {
  animation: backdrop-fade-out 700ms ease-out forwards;
}
